CompileFlags:
  CompilationDatabase: build
  Remove:
    - -mthumb-interwork
    - -fdiagnostics-color=always
    - -Werror
  Add:
    - -D__weak=__attribute__((weak))
    - -D__packed=__attribute__((__packed__))

---
If:
  PathMatch: .*\.c
CompileFlags:
  Compiler: arm-none-eabi-gcc

---
If:
  PathMatch: .*\.(cc|cpp|cxx|hpp|hh|hxx)
CompileFlags:
  Compiler: arm-none-eabi-g++
